@import "./main.css";

.main-area__container {
  padding-bottom: 56px;
}

.menu-nav {
  height: calc(100vh - 96px);
}

.modal-task {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 96px);
  justify-content: center;
  padding: 0 8px;
  position: fixed;
  left: 0;
  top: 48px;
  transition: all ease 500ms;
  width: 100%;
  z-index: 8;
}

.modal-task--hidden {
  top: 110vh;
  visibility: hidden;
}

.modal-task__container {
  align-items: center;
  background: var(--secondary-black);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(100% - 16px);
  justify-content: center;
  max-width: 700px;
  padding: 8px;
  width: 100%;
}

.form__input,
.form__textarea,
.form__select {
  background: var(--main-black);
}

.bottom-bar {
  bottom: 0;
  height: 48px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.bottom-bar__container {
  align-items: center;
  background: var(--secondary-black);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: flex;
  height: 100%;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 700px;
}

.bottom-bar__container__item-btn {
  align-items: center;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: flex;
  flex-grow: 1;
  justify-content: center;
  height: 100%;
}

.bottom-bar__container__item-btn--bg {
  background: var(--main-gradient);
}

.bottom-bar__container__item-btn svg {
  transition: all ease 300ms;
}

.bottom-bar__container__item-btn:active svg {
  transform: scale(0.9);
}

/*  */
.bottom-bar__container__item-btn-add-task.is-active {
  background: var(--secondary-gradient);
}

.bottom-bar__container__item-btn-add-task.is-active svg {
  transform: rotate(45deg);
}

/*  */
.bottom-bar__container__item-btn-page-area.is-active svg {
  stroke: var(--main-green);
}

/* Content */
.content__task-area,
.content__profile-area {
  display: none;
  transition: all ease 500ms;
  z-index: -1;
}

.content__task-area.is-active,
.content__profile-area.is-active {
  display: block;
  z-index: 1;
}

.content__task-area__title,
.content__profile-area__title {
  font-size: 2.4rem;
  margin-bottom: 16px;
  text-align: center;
}

.content__task-area__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content__task-area__header__welcome {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  justify-content: space-between;
}

.content__task-area__header__welcome__hello__name,
.content__task-area__header__welcome__date {
  font-weight: 600;
}

.content__task-area__header__welcome__date {
  flex-grow: 1;
  text-align: right;
}

.content__task-area__header__filter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content__task-area__header__filter__label {
  color: var(--secondary-white);
  font-size: 1.4rem;
  font-weight: 500;
}

.content__task-area__header__filter__options {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding-bottom: 4px;
}

.content__task-area__header__filter__options::-webkit-scrollbar {
  height: 4px;
}

.content__task-area__header__filter__options::-webkit-scrollbar-track {
  background: transparent;
}

.content__task-area__header__filter__options::-webkit-scrollbar-thumb {
  background: var(--main-gradient);
  border-radius: var(--border-radius);
}

.content__task-area__header__filter__options__btn {
  background: var(--secondary-black);
  border-radius: var(--border-radius);
  flex-grow: 1;
  font-weight: 600;
  padding: 16px;
  transition: all ease 300ms;
}

.content__task-area__header__filter__options__btn:active {
  transform: scale(0.95);
}

.content__task-area__header__filter__options__btn.is-active {
  background: var(--main-gradient);
}

.content__task-area__task-list {
  margin-top: 16px;
}

.task-area__task-list__task-item {
  background: var(--secondary-black);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  overflow: hidden;
  padding: 16px 16px 4px;
}

.task-area__task-list__task-item:not(:last-child) {
  margin-bottom: 8px;
}

.task-area__task-list__task-item__header {
  align-items: center;
  color: var(--secondary-white);
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  font-weight: 500;
  gap: 4px 8px;
  justify-content: space-between;
}

.task-list__task-item__header__priority__type,
.task-list__task-item__header__status {
  font-weight: 600;
}

.task-area__task-list__task-item[data-priority="high"]
  .task-list__task-item__header__priority__type {
  color: var(--main-red);
}

.task-area__task-list__task-item[data-priority="medium"]
  .task-list__task-item__header__priority__type {
  color: var(--main-blue);
}

.task-area__task-list__task-item[data-priority="low"]
  .task-list__task-item__header__priority__type {
  color: var(--main-green);
}

.task-area__task-list__task-item[data-finished="false"]
  .task-list__task-item__header__status {
  color: var(--main-red);
}

.task-area__task-list__task-item[data-finished="true"]
  .task-list__task-item__header__status {
  color: var(--main-green);
}

.task-list__task-item__title {
  font-size: 1.8rem;
  margin-bottom: 8px;
}

.task-area__task-list__task-item[data-finished="true"]
  .task-list__task-item__title,
.task-area__task-list__task-item[data-finished="true"]
  .task-list__task-item__description {
  text-decoration: line-through;
}

.task-area__task-list__task-item__task-btns {
  display: flex;
  justify-content: space-around;
}

.task-list__task-item__task-btns__btn {
  flex-grow: 1;
  padding: 8px;
  transition: transform ease 300ms;
}

.task-list__task-item__task-btns__btn:active {
  transform: scale(0.95);
}

.task-list__task-item__task-btns__btn--finish svg {
  stroke: var(--main-green);
}

.task-list__task-item__task-btns__btn--edit svg {
  stroke: var(--main-blue);
}

.task-list__task-item__task-btns__btn--delete svg {
  stroke: var(--main-red);
}
