@import "./main.css";

.main-area__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-area__container__title-form {
  margin-bottom: 24px;
  text-align: center;
}

.form__password-area {
  position: relative;
}

.form__password-area__password-preview-btn {
  background: transparent;
  padding: 4px;
  position: absolute;
  top: 4px;
  transition: transform ease 300ms;
  right: 8px;
}

.form__password-area__password-preview-btn:active {
  transform: scale(0.9);
}

.main-area__container__link-change-form {
  display: block;
  font-weight: 700;
  margin-top: 24px;
  text-align: center;
}
